header {
    width: auto;
    background-color: #ffaf03;
    height: 70px;
}
nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: blueviolet;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    text-align: center;
    padding-left: 30px;
    padding-right: 20px;
}

nav a:hover {
color: hsl(258, 96%, 51%);
text-decoration: underline;
}

.professores {
width: 940px;
margin: 0 auto;

}

.professores li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #98FB98;
    border-radius: 10px;
    padding: 50px;
}

body{
    background-color: rgb(255, 255, 0);
}

.caixa {
    height: 60px;
}
#logo {
height: 150px;

}
.navbar ul {
    text-decoration: none;
    list-style-type: none;
    overflow: hidden;
}
.navbar ul li {
    text-decoration: none;
    float: right;}

form {
  padding-top: 1000px;
  float: left;
}
#welcom {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    padding-top: 60px;
}

a:link{
    text-decoration: none;
    color:#ffffff;
    }
a:hover{
 text-decoration: none;
 color: red;
}